input {
    width: 100px;
    height: 40px;
    display: flexbox;
    padding: 6px 6px;
    /* margin-right: 10% */;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 3px solid beige;
    border-radius: 10px;
    border-color: beige;
    background-color: whitesmoke;
    color: #818283;
  }

#radioMotivo{
  color: aquamarine;
  width: 30px;
  height: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}