/* productos.css */

.Productos_Clipped {
  display: none;
}

/* Productos  */
.Productos {
  /* grid-container */
  display: grid;
  margin: 0;
  padding: 0.5rem;
}

.Producto {
  /* grid-item */
  margin: 0.5rem;
  padding: 0.5rem;
}

.Producto p:hover {
  font-style: italic;
  background-color: azure;
}

.Productos_Grupo_General {
  margin: 0.5rem;
  padding: 0.5rem;
}

.Productos_Grupo_General img {
  width: 60%;
}

.Productos_Grupo_Particular img {
  width: 60%;
}

.Producto img {
  width: 50%;
}

.Bt_AlCarrito {
  background-color: aqua;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
}

/* Notas Pie */
.Productos_Notas_containerFlex {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
}

.Productos_Nota_containerFlexItem {
  color: green;
  margin: 0.5rem;
}

/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: min-content;
  }
}

/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
  }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
  }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
  }
}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
  }
}
